<!DOCTYPE html>

<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	 	<!-- <link rel="stylesheet" type="text/css" href="normalize.css"> -->
	 	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	 	<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
	 	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

	  <title>ImJessW</title>
	</head>
	
	<body>
		
			<section id="section1">
				<h1 class="tag_line">Web Developer. Adventurer. <br> Acceptor of Challenges.</h1>
			</section>
			<section id="section2">
			</section>
			<section id="section3">
								<!-- questions button -->

				<button type="button" id="QButton" class="btn btn-default btn-lg">Questions? Email me!</button>

				<div class="alert alert-danger" id="badInfo">Oh no! Please enter all information.</div>
				<div class="alert alert-danger" id="thankYou">Thank you! I look forward to speaking with you soon.</div>

				<!-- Form -->

			<form id="formInfo" role="form">
				  <div class="form-group">
				    <input type="firstName" class="form-control" id="first" placeholder="First Name">
				  </div>
				  <div class="form-group">
				    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="email" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <input type="message" class="form-control" id="message" placeholder="Message">
				  </div>
				  <button type="submit" id="bottomButton" class="btn btn-default">Submit</button>
			</form>
		</div>
			</section>
		


		<!-- cdn's and other such links -->
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/ImJessW.js"></script>
	</body>
</html>