<!DOCTYPE html>

<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	 	<!-- <link rel="stylesheet" type="text/css" href="normalize.css"> -->
	 	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	 	<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
	 	<link rel="stylesheet" type="text/css" href="/stylesheets/ImjessW.css">

	  <title>ImJessW</title>
	</head>
	
	<body>

		<!-- Beginng of Navbar -->

		<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
			 <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			    	<!-- Angelist -->
			      <li class="active"><a href="https://angel.co/jessica-waite">Angelist</a></li>
			      <!-- GitHub -->
			      <li><a href="https://www.github.com/imjessw">GitHub</a></li>
			      <li><a href="http://www.linkedin.com/pub/jessica-waite/4b/b6/852">Linkedin</a></li>

			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socials<b class="caret"></b></a>
			        <ul class="dropdown-menu">
			        	<!-- Twitter -->
			          <li><a href="http://www.twitter.com/ImJessW">Twitter</a></li>
			         <!--  Instagram -->
			          <li><a href="http://instagram.com/imjessw">Instagram</a></li>
			        </ul>
			      </li>
			    </ul>
			  </div>
		</div>
		</nav>
			<!-- nav bar end -->

			<!-- end of Navbar -->


  		<!-- Starting paragraphs with style -->
		<div class="container" id="middleBackground">
			<div class="paragraphGrouping">		
			<img id="profilePic" src="/images/ProfilePic.jpg">
			<h2>Hi! I'm Jess!</h2>
			<p><b>About Me:</b><br>I've always been interested in technology and I'm fueled by the desire to use it in a positive way, whether 

			that's to create new jobs or build the latest greatest socially conscious company. That's why I founded my 

			first startup when I was only 20. It didn't last, but my passion for this business definitely did. Since my first 

			venture, I've put myself on the map by joining several startups across the country. I did that to improve 

			my skills, learn from the best and challenge myself in ways most people never will. I'm currently attending 

			 <a id="RefactorU"href="http://www.Refactoru.com"><u>RefactorU</u></a> so I can add another skill set to my resume and right now, my goal is to become a 

			valuable player in the next big thing. I'm open to relocation and I'm ready to work. Let's go. </p>

			<!-- Lang and libraries -->

			<p> <b>Languages and Libraries:</b><br>
				HTML, CSS, Dev Tools, Javascript,  jQuery, Twitter Bootstrap, Node, Express, Ajax, Jade, Unit testing with Jasmine, JSON, CoffeeScript, Python, Websocket, SQL, MongoDB.
			</p>
			<!-- other rad things I know  -->
			<p><b>Other Technical Skills:</b><br>
				Pair programming, Source Control(Git, and GitHub), Object Oriented Programming,Agile/Scrum, Behavior Driven Development, Sublime Text.<p><br>


				<!-- questions button -->

				<button type="button" id="QButton" class="btn btn-default btn-lg">Questions? Email me!</button>

				<div class="alert alert-danger" id="badInfo">Oh no! Please enter all information.</div>

				<!-- Form -->

			<form id="formInfo" role="form">
				  <div class="form-group">
				    <input type="firstName" class="form-control" id="first" placeholder="First Name">
				  </div>
				  <div class="form-group">
				    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="email" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <input type="message" class="form-control" id="message" placeholder="Message">
				  </div>
				  <button type="submit" id="bottomButton" class="btn btn-default">Submit</button>
			</form>
		</div>
		<!-- end of form -->


		<!-- cdn's and other such links -->
		
		<script src=""http://code.jquery.com/jquery-1.10.1.min.js""></script>
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/ImjessW.js"></script>
	</body>
</html>