<!DOCTYPE html>

<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	 	<!-- <link rel="stylesheet" type="text/css" href="normalize.css"> -->
	 	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	 	<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
	 	<link rel="stylesheet" type="text/css" href="../stylesheets/ImJessW.css">

	  <title>ImJessW</title>
	</head>
	
	<body>

		<!-- Beginng of Navbar -->

		<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
			 <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			    	<!-- Angelist -->
			      <li class="active"><a href="https://angel.co/jessica-waite" target="_top">Angelist</a></li>
			      <!-- GitHub -->
			      <li><a href="https://www.github.com/imjessw" target="_top">GitHub</a></li>
			      <li><a href="http://www.linkedin.com/pub/jessica-waite/4b/b6/852" target="_top">Linkedin</a></li>
			      <!-- Dropdown -->
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socials<b class="caret"></b></a>
			        <ul class="dropdown-menu">
			        	<!-- Twitter -->
			          <li><a href="http://www.twitter.com/ImJessW" target="_top">Twitter</a></li>
			         <!--  Instagram -->

			          <li><a href="http://instagram.com/imjessw">Instagram</a></li>
			          <!-- wordpress -->
			          <li><a href="http://www.ImJessW.wordpress.com">Wordpress</a></li>
			          <!-- Tumblr -->
			          <li><a href="http://imjessw.tumblr.com/">Tumblr</a></li>
			          <!-- Instagram -->
			          <li><a href="http://instagram.com/imjessw" target="_top">Instagram</a></li>

			        </ul>
			      </li>
			    </ul>
			  </div>
		</div>
		</nav>
			<!-- nav bar end -->

			<!-- end of Navbar -->


  		 <!-- Starting paragraphs with style -->



				<!-- questions button -->

				<button type="button" id="QButton" class="btn btn-default btn-lg">Questions? Email me!</button>

				<div class="alert alert-danger" id="badInfo">Oh no! Please enter all information.</div>
				<div class="alert alert-danger" id="thankYou">Thank you! I look forward to speaking with you soon.</div>

				<!-- Form -->

			<form id="formInfo" role="form">
				  <div class="form-group">
				    <input type="firstName" class="form-control" id="first" placeholder="First Name">
				  </div>
				  <div class="form-group">
				    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="email" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <input type="message" class="form-control" id="message" placeholder="Message">
				  </div>
				  <button type="submit" id="bottomButton" class="btn btn-default">Submit</button>
			</form>
		</div>

		
		<!-- end of form -->


		<!-- cdn's and other such links -->
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/ImJessW.js"></script>
	</body>
</html>