/*text color and nav bar color match #e7e7e7*/
body{
	font-family: arial;
}
#section1{
	background-image: url('../images/mainImage.jpg');
	background-size: cover;
	min-height: 850px;
	margin-top: 0;
	top: 0;
}

#section1 h1{
	margin: 0 auto;
	color: white;
	text-align: center;
	padding-top: 380px;
}
#section2{
	background-color: #43194a;
	min-height: 350px;
}

#section2{
	background-color: #43194a;
	min-height: 350px;
}

button#QButton {
border-radius: 0px;
}

.form-group{
	display: none;

}
#bottomButton{
	display: none;
	margin-bottom: 25px;
}


.btn-default{
	background-color: #e7e7e7;
	border-color:#e7e7e7;
}

#badInfo{
	display: none;
}
#thankYou{
	color: #e7e7e7;
	background-color: #2E0854;
	border-color: #e7e7e7;
	display: none;
	
}